/* styles/globals.css */

/* Variables */
:root {
  /* Colores */
  --color-primary: #1e293b;
  --color-primary-light: #334155;
  --color-secondary: #1d9cdb;
  --color-accent: #005a9c;
  --color-icons: #5b95cc;

  /* Escala de grises */
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: "Inter", sans-serif;
  background: var(--color-gray-50);
  color: var(--color-primary);
}

.contentSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 15%;
}

.title {
  
}

/* Celulares */
@media (max-width: 640px) {
  .contentSpace {
    padding-left: 0%;
  }

  .container {
    padding: 0 1rem;
  }

  .mobile-only {
    display: block;
  }

  .tablet-only,
  .desktop-only {
    display: none;
  }
}

/* Tablets */
@media (min-width: 640px) and (max-width: 1024px) {
  .contentSpace {
    padding-left: 0%;
  }

  .mobile-only,
  .desktop-only {
    display: none;
  }

  .tablet-only {
    display: block;
  }
}

/* Computadoras / Laptops */
@media (min-width: 1025px) {
  .mobile-only,
  .tablet-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
