/* styles/globals.css */

/* Variables */
:root {
  /* Colores */
  --color-primary: #1e293b;
  --color-primary-light: #334155;
  --color-secondary: #1D9CDB;
  --color-accent: #005A9C;
  --color-icons: #5B95CC;

  /* Escala de grises */
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;

}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: 'Inter', sans-serif;
  background: var(--color-gray-50);
  color: var(--color-primary);
}

/* Layout base */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


/* Celulares */
@media (max-width: 640px) {
  .title {
    padding-left: 50;
  }

  .container {
    padding: 0 1rem;
  }


  .mobile-only {
    display: block;
  }

  .tablet-only,
  .desktop-only {
    display: none;
  }
}

/* Tablets */
@media (min-width: 640px) and (max-width: 1024px) {
  .title {
    padding-left: 120px;
  }

  .mobile-only,
  .desktop-only {
    display: none;
  }

  .tablet-only {
    display: block;
  }
}

/* Computadoras / Laptops */
@media (min-width: 1025px) {
  .title {
    padding-left: 18rem;
  }

  .mobile-only,
  .tablet-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
