/* styles/globals.css */

/* Variables */
:root {
  /* Colores */
  --color-primary: #1e293b;
  --color-primary-light: #334155;
  --color-secondary: #1d9cdb;
  --color-accent: #005a9c;
  --color-icons: #5b95cc;

  /* Escala de grises */
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: "Inter", sans-serif;
  background: var(--color-gray-50);
  color: var(--color-primary);
}

.contentSpaceHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  height: 100vh;
  margin-left: 26vh;
  gap: 5vh;
}

.contentSpace {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin-left: 265px;
  margin-right: 15px;
}

.title {
  padding-top: 2vh;
}


.submitButton {
    padding: 12px !important;
    border-radius: 10px !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    margin: 2vh !important;
    background: #304a6e !important;
    transition: all 0.3s ease !important;
}

.submitButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(46, 107, 187, 0.3) !important;
}


.buttonStack {
  display: flex;
  padding: 4vh;
  gap: 2vh;
  align-self: center;
}

/* Celulares */
@media (max-width: 640px) {
  .contentSpaceHome {
    margin-left: 0%;
  }

  .contentSpace {
    margin-left: 0%;
  }

  .container {
    padding: 0 1rem;
  }

  .mobile-only {
    display: block;
  }

  .tablet-only,
  .desktop-only {
    display: none;
  }
}

/* Tablets */
@media (min-width: 640px) and (max-width: 1024px) {
  .contentSpaceHome {
    margin-left: 0%;
  }

  .contentSpace {
    margin-left: 0%;
  }

  .mobile-only,
  .desktop-only {
    display: none;
  }

  .tablet-only {
    display: block;
  }
}

/* Computadoras / Laptops */
@media (min-width: 1025px) {
  .mobile-only,
  .tablet-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
