.container {
  padding: 10px;
  width: 100%;

}

.tabsContainer {
  display: flex;
  justify-content: flex-end;
}

.tab {
  min-width: 40px;
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 6px 6px 0 0;
  font-size: 0.75rem;
  text-transform: none;
  background-color:  rgb(226, 235, 238);
  height: 30px;
}


.contentBox {
  padding: 14px;
  max-height: 95vh;
  width: 80vh;
  border-radius: 6px 6px 6px 6px;
  background-color: rgb(235, 242, 243);
}
