.gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.imageGrid {
  width: 100%;
  max-width: 900px;
}

.imageItem {
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
