 .search {
  position: relative;
  border-radius: 5px; 
  background-color: rgba(224, 224, 224, 0.363);
  max-width: 500px;
  width: 100%;
  transition: background-color 0.2s ease;
}

.search:hover {
  background-color: rgba(223, 223, 223, 0.582);
}

@media (min-width: 600px) {
  .search {
    margin-left: 24px;
    width: auto;
  }
}

.searchIconWrapper {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBase {
  color: inherit;
  width: 100%;
}

.inputBase input {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  width: 100%;
  transition: width 0.3s ease;
}

@media (min-width: 900px) {
  .inputBase input {
    width: 20ch;
  }
}
