/* components/Stepper.module.css */
.stepperContainer {
  width: 100%;
  padding: 1rem;
}

/* Stepper horizontal simple */
.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

/* Línea de conexión */
.stepperLine {
  position: absolute;
  top: 18px;
  left: 12%;
  right: 12%;
  height: 2px;
  background-color: #e2e8f0;
  z-index: 1;
}

/* Paso individual */
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  flex: 1;
  cursor: pointer;
}

/* Icono del paso */
.stepIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  color: #64748b;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.stepIconActive {
  background-color: #3b82f6 !important;
  color: white !important;
  border-color: #3b82f6;
}

/* Label del paso */
.stepLabel {
  font-size: 0.7rem;
  font-weight: 400;
  color: #64748b;
  text-align: center;
  transition: all 0.3s ease;
}

.stepLabelActive {
  color: #1e293b !important;
  font-weight: 600 !important;
}

/* Contenido - Ajustado para el board */
.contentContainer {
  background-color: transparent;
  border-radius: 8px;
  width: 100vh;
}

.contentTitle {
  color: #1e293b;
  font-weight: 600;
  padding-top: 4rem;
}

.contentInstruction {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.95rem;
  max-width: 800px;
}


/* Botones */
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  gap: 1rem;
}

/* ========== RESPONSIVE ========== */
/* Mobile */
@media (max-width: 640px) {
  .stepperContainer {
    padding: 1rem 0;
  }

  .stepper {
    display: flex;
    width: 100%;
  }

  .stepLabel {
    font-size: 0.6rem;
  }

  .stepIcon {
    width: 32px;
    height: 32px;
    margin-bottom: 0.25rem;
  }

  .contentContainer {
    margin-top: 1.5rem;
  }

  .contentTitle {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .buttonsContainer {
    flex-direction: column;
  }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1024px) {
  .stepLabel {
    font-size: 0.65rem;
  }

  .stepIcon {
    width: 36px;
    height: 36px;
  }
}

/* Computadoras / Laptops */
@media (min-width: 1024px) {
  .stepper {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: end;
    position: relative;
    margin-bottom: 2rem;
    margin-top: -55px;
    float: right;
  }

  .contentContainer {
    margin-left: 310px;
  }
}
