

.cardsContent {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.cartContent {
  background-color: rgb(205, 219, 228);
  border-radius: 8px;
  margin-top: 6%;
  padding: 1.2vh;
  max-height: 89vh;
}

.cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementsContainer {
  display: flex;
  background-color: rgb(233, 239, 243);
  height:max-content;
  border-radius: 6px;
  margin-top: 5%;
}

/* Botón crear */
.createBttnContainer {
  display: flex;
  justify-content: flex-start;
  padding: 1.5vh;
}

<<<<<<< HEAD

.upBttnsContainer{
  display: flex;
  justify-content: flex-start;
  padding: 1.2vh;
}

.bttnsContainer{
=======
.joinBttnsContainer{
>>>>>>> parent of 1406b5d (puzzle representation)
  display: flex;
  justify-content: flex-end;
  padding: 1.3vh;
}