.workspaceContainer {
  background-color: #fff;

  border: 1px solid #ccc;
  border-radius: 8px;

  min-height: 200px;
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  overflow-x: auto;
}

.draggableItem {
  margin-bottom: 8px;

  width: 100%;
  max-width: 400px;
}
